.ChatUsername {
    font-size: 15px;
}

.SenderBox {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.ReceiverBox {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}

.SenderChat {
    padding: 10px;
    background-color:#C3B1E1;
    border-radius: 10px;
    max-width: 60%;
}

.ReceiverChat {
    padding: 10px;
    background-color: #BEBEBE;
    border-radius: 10px;
    max-width: 60%;
}