.InputContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.InputTxtArea {
    width: 55%;
    height: 50px;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    font-size: 18;
}

.InputButton {
    width: 25%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    background-color: #57068C;
    border-width: 0;
    color: white;
}