.ChatList {
    background-color: F5F5FA; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F5F5FA;
}

.button {
    border:2px black;
    margin: 20px;
    padding: 30px;
    text-align: center;
}

img {
    max-width: 30vh;
}