.Header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Header-header {
    background-color: #57068C;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
  }

  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #57068C;
    color: white;
  }
  
  .logo {
    display: inline-block;
  }
  
  .nav-links {
    list-style: none;
  }
  .nav-item {
    display: inline-block;
    padding: 10px 15px;
  }
  .nav-item a {
    color: white;
    text-decoration: none;
  }
  
  .nav-item:hover a {
    color: gray;
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }