/* Base styles for landing pages */
.landingPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F5F5FA;
}

.landingPage-form-container {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.landingPage-title {
  color: #57068C;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem; /* Larger text on smaller screens */
}

.landingPage-form {
  display: flex;
  flex-direction: column;
}

.landingPage-input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

.landingPage-button {
  background-color: #57068C;
  color: #FFFFFF;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.landingPage-button:hover {
  background-color: #6D28D9;
}

.landingPage-footer {
  text-align: center;
}

.landingPage-link {
  color: #57068C;
  text-decoration: none;
}

.landingPage-link:hover {
  text-decoration: underline;
}



.rowbutton {
  background-color: skyblue;
}

/* iPhone 14 Pro Max specific styles */
@media only screen and (max-width: 428px) {
  .landingPage-form-container {
    padding: 1.5rem; /* Slightly less padding on smaller screens */
  }
  
  .landingPage-title {
    font-size: 1.25rem; /* Adjust title size for smaller screens */
  }

  .landingPage-input {
    padding: 0.75rem; /* Larger tap targets for inputs */
  }

  .landingPage-button {
    padding: 0.75rem; /* Larger tap targets for buttons */
  }
}

  