.MatchList {
    background-color: F5F5FA; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F5F5FA;
}

.rowbutton {
    background-color: #dcdcdc;
    display: flex;
    flex-direction:row;
    margin: 0.2rem 0rem;
    padding: 20px;
    text-align: left;
    width: 100%;
}

.rowbutton:hover {
    background-color: white;
}

.profilepic_match {
    max-width: 8vh;
  }

.matchentry {
    list-style-type: none;
}

.username_match {
    color: black;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.bio {
    color: #505050;
    font-size: 0.5rem
}